@font-face {
  font-family: 'iconfont';  /* project id 1358890 */
  src: url('//at.alicdn.com/t/font_1358890_2dlmiuve3rg.eot');
  src: url('//at.alicdn.com/t/font_1358890_2dlmiuve3rg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1358890_2dlmiuve3rg.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1358890_2dlmiuve3rg.woff') format('woff'),
  url('//at.alicdn.com/t/font_1358890_2dlmiuve3rg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1358890_2dlmiuve3rg.svg#iconfont') format('svg');
}
